@font-face{
    font-family: montserrat;
    src: url(/fonts/Montserrat-Black.ttf);
}

*{
    margin: 0;
    padding: 0;
}

header {
    overflow: hidden;
}

.midias {
    width: 100%; /*Ocupação da borda na horizontal*/
    height: 38.5px; /*Altura da borda*/
    background: rgba(13, 6, 70, 0.692);
    font-family: montserrat;
}

.midias img{
    width: 20px;
}

.midias a:hover{
    background: chocolate;
}

.midias ul {
    list-style: none;
    position: relative;
    right: 279px;
}

.midias ul li{
    width: 35px; /*Espaçamento entre os icones*/
    float: right;
}

.midias a{
    padding: 9px; /*espaço entre as bordas */
    display: block;
    text-decoration: none;
    text-align: right;
    font-size: 10px;
    color: white;
    border-left: solid 0.5px rgba(15, 15, 15, 0.5);
}

.midias button{
    position: relative;
    width: 150px;
    height: 38.5px;
    text-indent: 1px;
    font-size: 25px;
    background: rgba(14, 6, 70, 0.178);
}

.midias button img{
    position: absolute;
    left: 21px;
    top: 15px;
    width: 20px;
}

.midias button p{
    font-family: montserrat;
    color: black;
    position: absolute;
    top: 5px;
    left: 45px;
}

/*Menu*/

.menu {
    width: 600px;
    height: 50px;
    background-color: #fff; /*cor da barra menu*/
    font-family: montserrat, serif;
}

.menu ul{
    list-style: none;
    position: relative;
    left: 17rem; /*Afastamento da esquerda*/
}

.menu ul li {
    width: 150px; /*espaçamento*/
    float: left;
}

.menu a{
    padding: 15px; /*distancia das paredes*/
    display: block;
    text-decoration: none;
    text-align: center;
    background-color:#fff;
    color: #222;
    border-right: solid 2.5px rgba(34, 34, 34, 0.15);
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    border-bottom: solid 2.5px chocolate; /*bordar abaixo do menu*/
}


.logo{
    top: -50px;
    position: relative;
    padding: 10px; /*tamanho do quadro da logo*/
    left: 120px;
    width: 150px;
    height: 150px;
    background-color: #ffff;
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.07);
}

.logo img{
    position: absolute;
    width: 130px;
    padding: 5px;
    object-fit: cover;
}

.img-inicio {
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100vh; /*Altura da visualização*/
    top: 92.1px;
    background-color: rgba(0, 0, 0, 0.678);
}

.img-inicio img{
    width: 100%; /* Essa class vai ocupa 100% da LARGURA do header */
    height: 100vh; /* Essa class vai ocupa 100% da ALTURA do header */
    opacity: 0.45; /*opacidade*/
}

.netto {
    position: relative;
    width: 500px;
    height: 700px;
    justify-content: right;
    right: -49%;
    top: -30px;
}

.netto img{
    position: absolute;
}

/*texto inicio*/

.texto {
    position: relative;
    top: -720px;
    left: 3%;
    width: 430px;
}
.texto h1{
    color: rgb(255, 255, 255);
    font-family: montserrat;
    font-size: 4.2rem;
    margin-bottom:  0.2rem;
    margin-top: -1rem;
}

.mudanca {
    color: rgba(13, 13, 121, 0.876);
}

.texto p#netto-txt{
    color: rgba(13, 13, 121, 0.698);
}

.texto p{
    color:rgb(255, 255, 255);
    font-family: montserrat;
    font-size: 1.3rem;
    text-align: left;
    margin-top: 2rem;
    margin-left: 10px;
}

.texto p#cima{
    color: chocolate;
}

.texto p#baixo {
    margin-bottom: 2rem;
}

.texto .donate{
    border-left: chocolate solid 6px;
}


.container-apoia {
    position: relative;
    border: none;
    font-family: monttserrat;
}

/*bnt inicio*/

.action-button
{
text-transform: uppercase;
position: relative;
padding: 10px 40px;
margin: 0px 10px 10px 0px;
border-radius: 3px;
font-family: "montserrat", sans-serif;
font-size: 23px;
color: #FFF;
text-decoration: none; 
}

.blue
{
background-color: rgba(13, 13, 121, 0.698);
text-shadow: 0px -2px black;
}

.action-button:hover{
    background: chocolate;
}

/*coteudo img*/